[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
drf-rw-serializers = "*"
coreapi = "*"
coreapi-cli = "*"
markdown = "*"
pyaml = "*"
drf-writable-nested = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
gunicorn = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"
