<div class="signin-content">
  <mat-card class="mat-elevation-z7">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-card-content fxLayout="column" fxLayoutGap="5px">
        <mat-form-field appearance="fill">
          <input matInput placeholder="User" formControlName="username" required>
          <mat-error>
            Podaj nazwę użytkownika!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Musisz podać hasło!
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button class="login__btn" mat-raised-button [loading]="loading" color="accent">
          <mat-icon>login</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
