
<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async">
  <mat-toolbar-row>
    <h1>Car Management</h1>
    <span class="menu-spacer"></span>
    <div fxShow fxHide.lt-sm>
      <a
        mat-button
        *ngFor="let link of pageLinks"
        [routerLink]="link.routerLink"
        routerLinkActive="mat-accent"
      >
        {{ link.label }}
      </a>

              <button
          mat-raised-button
          color="warn"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
          Wyloguj
        </button>
    </div>
  </mat-toolbar-row>

</mat-toolbar>


