<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      fxFlex
    >
      <button mat-raised-button color="accent" (click)="addEmployee()">
        <mat-icon>add</mat-icon>
        Dodaj
      </button>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button
          mat-raised-button
          color="primary"
          [disabled]="selected.length === 0"
          (click)="editEmployee()"
        >
          <mat-icon>edit</mat-icon>
          Edytuj
        </button>

        <button
          mat-raised-button
          color="warn"
          [disabled]="selected.length === 0"
          (click)="openConfirmationDialog()"
        >
          <mat-icon>delete</mat-icon>
          Usuń
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<ngx-datatable
  class="material"
  [columnMode]="'flex'"
  [rows]="employees"
  [columns]="columns"
  [loadingIndicator]="isLoading"
  headerHeight="50"
  footerHeight="50"
  rowHeight="50"
  [selected]="selected"
  [selectCheck]="singleSelectCheck"
  [selectionType]="SelectionType.single"
></ngx-datatable>
