<div class="container">

  <h2 mat-dialog-title>Edytuj brokera</h2>
  <mat-dialog-content>
    <form [formGroup]="offerForm">
       <div fxLayout="column" class="form__input">
            <mat-form-field appearance="fill">
              <mat-label>Wybierz brokera</mat-label>
              <mat-select formControlName="broker" [compareWith]="compareBroker">
                <mat-option *ngFor="let broker of availableBrokers$|async"
                            [value]="broker">{{broker.name}}</mat-option>
              </mat-select>
            </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="space-between end">
          <button mat-button mat-dialog-close>Anuluj</button>
          <button mat-raised-button color="primary" (click)="getData()"
                  [mat-dialog-close]="offer">Edytuj</button>
        </div>
      </div>
    </form>
  </mat-dialog-content>
</div>
